@import "../../variables.scss";
@import "../../mixins.scss";
.hero-container {
    @include content-center;
    @include layout;
    background-color: $orange-color;
    position: relative;
    width: 100%;
    height: 300px;
    text-align: start;
    .hero-logo-1 {
        width: 115px;
        height: 119px;
        object-fit: cover;
        object-position: 50% 50%;
        transform: rotate(20.76416139993802deg);
        position: absolute;
        right: 100px;
        top: -50px;
        z-index: 2;
    }

    .hero-logo-2 {
        width: 130px;
        height: 133px;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        transform: rotate(341.14797572370776deg);
        right: 20px;
        top: -70px;
        z-index: 1;
    }

    h1 {
        @include font-xl;
        text-align: start;
        line-height: 1.3;
        color: $white-color;
    }

        .hero-button {
            border: 2px #FFF solid;
            border-radius: 20px;
            padding: 10px 40px;
            margin-top: 25px;
            cursor: pointer;

            span {
                @include font-medium;
                color: $white-color;
            }

        }
        .hero-button:hover{
            background-color:$white-color;
            span {
                color: $orange-color;
            }
        }

}
