@import "../../variables.scss";
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 500px;
    margin: 0;
    .form-options{
        display: flex;
        flex-direction: column;
        label{
            font-size: $medium-font-size;
            margin-bottom: 10px;
        }
        input{
            height: 40px;
            width: 250px;
            border-radius: 5px;
            margin-bottom: 10px;
            background-color: $yellow-color;
            border: 2px solid #000;
        }
        textarea{
            height: 200px;
            width: 250px;
            border-radius: 5px;
            margin-bottom: 10px;
            resize: none; 
            border: 2px solid #000;
            background-color: $yellow-color;
        }
  
    }
    button{
        padding: 15px;
        background-color: $black-color;
        color:$yellow-color;
        margin-top: 10px;
    }
}