@import "../../variables.scss";
@import "../../mixins.scss";

.introduction-section {
    @include content-center;
    @include layout;
    justify-content: start;
    position: relative;
    background-color: $soft-white-color;
    max-height: 650px;

    .logo1 {
        position: absolute;
        top: -75px;
        left: 160px;
        width: 132px;
        height: 137px;
        transform: rotate(13.74deg);
    }

    .logo2 {
        position: absolute;
        left: 47px;
        top: -54px;
        width: 164px;
        height: 171px;
        transform: rotate(343.4deg);
    }

    .introduction-title {
        @include font-medium;
        margin: 90px 0 10px 0;
        font-weight: $regular-font-weight;
    }

    .introduction-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .items-container {
            display: flex;
            align-items: center;
            flex-direction: row;

        }

        .number {
            @include font-xxl;
             color: $black-color;
        }

        .items {
            margin-left: 20px;

            p {
                @include font-small;
                text-align: start;
                font-weight: $light-font-weight;
            }
        }
    }
}