@import "../../variables.scss";
@import "../../mixins.scss";
.header-contain {
    @include content-center;
    @include layout;
    height: 400px;
    width: 100%;

    .bgimg-header {
    @include background-img;
        background-image: url("../../assets/header.jpg");
    }

    .caption-header {
        @include content-center;
        width: 80%;
        z-index: 0;
        margin: 20px 0;

        h1 {
            @include font-large;
            color: $white-color;
            letter-spacing: -0.05em;
        }

        p {
            @include font-small;
            color:$white-color;
            margin: 10px 0;
        }
    }
}



