@import "../../variables.scss";
@import "../../mixins.scss";

.social-container {
    @include content-center;
    position: relative;
    min-height: 550px;
    max-height: 700px;
    margin: 0;
    color: $white-color;

    .social-background {
        @include background-img;
        background-image: url("../../assets/social.jpg");
        filter: brightness(0.5);
    }

    h1 {
        margin: 60px 0 30px 0;
        @include font-xxl;
        font-weight: $bold-font-weight;

    }

    .social-items-container {
        width: 80%;
        margin-bottom: 60px;
        .social-items {
            @include font-medium;
            margin-top: 14px;
            font-weight: $regular-font-weight;
        }
    }

}