@import "../../variables.scss";
@import "../../mixins.scss";
.form-section-container{
    @include content-center;
    @include layout;
    max-height: 1200px;
    background-color: $yellow-color;
        h1{
            @include font-large;
            margin: 50px 0;
        }
        .contact-info{
            display: grid;
            grid-template-columns: repeat(2, minmax(150px, 1fr));
            grid-template-rows: repeat(2, minmax(150px, 1fr));
           gap: 6px;
        }
       .contact-info-item{
        @include content-center;
        margin: 45px 0;
            a{
                @include font-medium;
                text-decoration: none;
                font-weight: $light-font-weight;
                color:$black-color;
            }
        .form-icon{
            height: 40px;
            width: 40px;
        }
       }
}


