@import "../../variables.scss";
.footer-container{
  @include content-center;
    height: 80px;
    width: 100%;
    background-color: $black-color;
    color:$white-color;
    span{
        @include font-medium;
        font-weight: $light-font-weight;
    }
}