@import "../../variables.scss";
.design-container {
    position: relative;
    height: 600px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: $white-color;

    .design-background {
        position: absolute;
        left: 0;
        top: 0;
        background-image: url("https://static.wixstatic.com/media/af1e77_d3b7475eb59b4cb29756d10035c46bb8~mv2.jpg/v1/fill/w_525,h_1000,al_c,q_85,enc_auto/af1e77_d3b7475eb59b4cb29756d10035c46bb8~mv2.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        width: 100%;
        z-index: -1;
    }
    h1{
        margin: 40px 0 5px 0;
        text-align: center;
        font-size:$xxl-large-font-size;
        font-weight: $bold-font-weight;
    }

    .design-items-container{
        width: 80%;
        .design-items{
            margin-top: 14px;
            font-size: $medium-font-size;
            font-weight: $regular-font-weight;
        }
    }

}